.padding-25 {
    padding: 0 25px;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

input.little-margin {
    margin-bottom: 5px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.toast-green {
    background: #66BB6A !important;
    cursor: default !important;
}

.toast-red {
    background: #ea454b !important;
    cursor: default !important;
}

.ng-messages-errors p {
    color: red !important;
    font-size: 13px;
    margin-top: 0;
}

.card-loader-wrapper.black-loader .spinner-layer {
    border-color: black !important;
}

.dropify-wrapper {
    border: none !important;

    p {
        text-align: center !important;
    }
}

.scroll-wrapper {
    overflow: hidden;
    position: relative;
}

.floating-button-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

.bg-smartpark {
    background: #4b85c5;
}

.color-smartpark {
    color: #4b85c5;
}

#settings-tabs {


    .tabs {
        background: #4b85c5;

        > .tab > a.active {
            border-bottom: solid 3px #132d4b;
        }

        button[type=submit] {
            background: #4b85c5;
        }
    }

    .tab-content {
        padding: 15px 35px;
    }
}

@media(min-width: 600px) {

    .flex-align-center-container-mid-and-up {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}

.flex-align-center-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
}


/*@font-face {
    font-family: "iconvault";
    src: url("../../assets/fonts/forecast/iconvault_forecastfont.eot");
    src: url("../../assets/fonts/forecast/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/forecast/iconvault_forecastfont.woff") format("woff"), url("../../assets/fonts/forecast/iconvault_forecastfont.ttf") format("truetype"), url("../../assets/fonts/forecast/iconvault_forecastfont.svg#iconvault") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon-night::before,
.icon-sunny::before,
.icon-frosty::before,
.icon-windysnow::before,
.icon-showers::before,
.icon-basecloud::before,
.icon-cloud::before,
.icon-rainy::before,
.icon-mist::before,
.icon-windysnowcloud::before,
.icon-drizzle::before,
.icon-snowy::before,
.icon-sleet::before,
.icon-moon::before,
.icon-windyrain::before,
.icon-hail::before,
.icon-sunset::before,
.icon-windyraincloud::before,
.icon-sunrise::before,
.icon-sun::before,
.icon-thunder::before,
.icon-windy::before,
.icon-night::after,
.icon-sunny::after,
.icon-frosty::after,
.icon-windysnow::after,
.icon-showers::after,
.icon-basecloud::after,
.icon-rainy::after,
.icon-mist::after,
.icon-windysnowcloud::after,
.icon-drizzle::after,
.icon-snowy::after,
.icon-sleet::after,
.icon-moon::after,
.icon-windyrain::after,
.icon-hail::after,
.icon-sunset::after,
.icon-windyraincloud::after,
.icon-sunrise::after,
.icon-sun::after,
.icon-thunder::after,
.icon-windy::after,
.basecloud {
    font-family: "iconvault";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    color: white;
    position: absolute;
    font-size: 6rem;
    right: 0;
}

.icon-night::before {
    content: "\f100";
}

.icon-sunny::before {
    content: "\f101";
}

.icon-frosty::before {
    content: "\f102";
}

.icon-windysnow::before {
    content: "\f103";
}

.icon-basecloud::before {
    content: "\f105";
}

.icon-cloud::before {
    content: "\f106";
}

.icon-mist::before {
    content: "\f108";
}

.icon-windysnowcloud::before {
    content: "\f109";
}

.icon-drizzle::before {
    content: "\f10a";
}

.icon-snowy::before {
    content: "\f10b";
}

.icon-sleet::before {
    content: "\f10c";
}

.icon-moon::before {
    content: "\f10d";
}

.icon-windyrain::before {
    content: "\f10e";
}

.icon-hail::before {
    content: "\f10f";
}

.icon-sunset::before {
    content: "\f110";
}

.icon-windyraincloud::before {
    content: "\f111";
}

.icon-sunrise::before {
    content: "\f112";
}

.icon-sun::before {
    content: "\f113";
}

.icon-thunder::before {
    content: "\f114";
}

.icon-windy::before {
    content: "\f115";
}


icon-night::after {
    content: "\f100";
}

.icon-frosty::after {
    content: "\f102";
}

.icon-windysnow::after {
    content: "\f103";
}

.icon-showers::after {
    content: "\f104";
}

.icon-basecloud::after {
    content: "\f105";
}

.icon-rainy::after {
    content: "\f107";
}

.icon-mist::after {
    content: "\f108";
}

.icon-windysnowcloud::after {
    content: "\f109";
}

.icon-drizzle::after {
    content: "\f10a";
}

.icon-snowy::after {
    content: "\f10b";
}

.icon-sleet::after {
    content: "\f10c";
}

.icon-moon::after {
    content: "\f10d";
}

.icon-windyrain::after {
    content: "\f10e";
}

.icon-hail::after {
    content: "\f10f";
}

.icon-sunset::after {
    content: "\f110";
}

.icon-windyraincloud::after {
    content: "\f111";
}

.icon-sunrise::after {
    content: "\f112";
}

.icon-sun::after {
    content: "\f113";
}

.icon-thunder::after {
    content: "\f114";
}

.icon-windy::after {
    content: "\f115";
}

.basecloud::after {
    font-family: 'iconvault';
    content: '\f105';
    position: absolute;
    color: rgb(204, 204, 204);
}*/

.card-loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 50;

    > .preloader-wrapper {
        width: 6rem;
        height: 6rem;
        align-self: center;
    }
}

.spinner-white-only {
    border-color: white;
}


.picker__holder, .picker__close {
    pointer-events: none;
}

.picker__wrap, .picker__close {
    pointer-events: auto;
}

tr.order-success, tr.order-canceled, tr.order-rejected, tr.order-pending {
    td {
        border-radius: 0;
    }
}

tr.order-success {
    background-color: rgba(0, 255, 0, 0.15);
}

tr.order-canceled {
    background-color: rgba(255, 0, 0, 0.15);
}

tr.order-rejected {
    background-color: rgba(255, 0, 0, 0.15);
}

tr.order-pending {
    background-color: rgba(255, 255, 0, 0.15);
}

input.charges-input {
    text-align: right;
    font-weight: bold;
    font-size: 2em;
}

@media(min-width:601px) {
    tr > td.hoverable-table-buttons {
        opacity: 0;
    }

    tr:hover > td.hoverable-table-buttons {
        opacity: 1;
    }
}

.picker__footer {
    display: block;
    padding: 0;
    text-align: center;

    .btn-flat {
        display: block;
        margin: auto;
    }
}


@media(max-width:600px) {
    .header-search-wrapper input.header-search-input {
        padding: 8px 8px 8px 8px;
        margin:auto;
        width: 80%;
    }
}
