$secondary-color: #2e6cb2 !default;
$primary-color: #132d4b !default;
$secondary-color-light: #4b85c5 !default;

ul.side-nav {
    width: 240px;

    &.shrinked {
        width: 120px;
    }

    &.leftside-navigation {
        top: 64px;
        overflow: hidden;
        background-color: $secondary-color-light;

        li {
            &.user-details {
                background: $secondary-color;
                padding: 15px 0;
                line-height: 1;
            }
        }
    }
}

.sidebar-collapse {
    position: absolute;
    left: -170px;
    top: -45px;
}