<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation" [ngClass]="{'shrinked': sidebarShrinked}">
    <li class="user-details">
      <app-portal-sidebar-accprofile [sidebarShrinked]="sidebarShrinked"></app-portal-sidebar-accprofile>
    </li>
    <app-portal-sidemenu (sidebarShrinkToggled)="sidebarToggleHandle()" [sidebarShrinked]="sidebarShrinked"></app-portal-sidemenu>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only"
    style="background:#4b85c5"><i class="material-icons">menu</i></a>
</aside>