/*=================================================================================
    Sidebar
====================================================================================*/
/*----------------------------------------
    Sidebar Main Menu 
------------------------------------------*/



.user-initials {
    color: white;
    font-weight: bold;
    line-height: 1.1;
    font-size: 14px;
    text-transform: uppercase;
}

.bold > a {
    font-weight: bold;
}
