<div class="right-item">
  <div class="forgot-content">
    <div class="row">
      <div class="col s10 offset-s1 center-align margin-top-50">
        <h2 class="valign-wrapper" style="justify-content: center; margin-bottom: 10px;">
          <img class="valign" src="assets/img/lock_logo.png" />PRZYPOMNIJ HASŁO
        </h2>
        <h5 class="smart-grey margin-bottom-50">Jeżeli nie pamiętasz swojego hasła, podaj swój email, a my pomożemy Ci odzyskać utracone hasło:</h5>
        <form id="forgot-form">
          <div class="row">
            <div class="col s12">
              <div class="input-field">
                <input type="text" name="Email" id="Email" />
                <label for="Email">Email</label>
              </div>
            </div>
          </div>
          <br />
          <div class="row right-align margin-top-25">
            <div class="col s12">
              <a href="#" id="moveRegister2" class="smart-blue smart-move-btn" (click)="moveRegister()"><b>ZAREJESTRUJ</b></a>
              <a href="#" id="moveLogin2" class="smart-blue smart-move-btn" (click)="moveLogin()"><b>ZALOGUJ</b></a>
              <button class="btn waves-effect waves-light smart-blue-bg smart-form-btn" data-form-id="forgot-form">
                <b>Przypomnij hasło</b>
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
