/*--Colors--*/
.smart-blue {
  color: #4b85c5;
}

.smart-blue-bg {
  background: #4b85c5;
}

.smart-grey {
  color: #b0b0b0;
}
/*--End Colors--*/

/*--Flex Align Helpers--*/
@media(min-width: 600px) {
    .flex-align-center-container-mid-and-up {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}

.flex-align-center-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
/*--End Flex Align Helpers--*/

/*--Margins and paddings--*/
.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.padding-25 {
    padding: 0 25px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

input.little-margin {
    margin-bottom: 5px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}
/*--End Margins and paddings--*/

/*--Toasts styles--*/
.toast-green {
    background: #66BB6A !important;
    cursor: default !important;
}

.toast-red {
    background: #ea454b !important;
    cursor: default !important;
}

.disabled{
  color:grey !important;
  cursor: default !important;
}
/*--End Toasts styles--*/

/*--Inputs validation styles--*/
input.ng-invalid.ng-touched, .input-validation-error{
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
  margin-bottom: 1px !important;
}

input.ng-valid.ng-touched {
  border-bottom: 1px solid #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
  margin-bottom: 1px;
}

.input-field {
  text-align: left;
  margin-top:1.5rem;
  span.field-validation-error {
    font-size: 12px;
    color: red;
    text-align: left !important;
  }
}


input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    margin: 0 0 15px 0;
}
/*--End Inputs validation styles--*/
