<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <ul class="left flex-align-center-container" style="justify-content: flex-end">
          <li class="logo-cont">
            <h1 class="logo-wrapper">
              <a href="~/" class="brand-logo darken-1" target="_self"><img src="assets/img/logo_white.png" alt="smartpark logo"></a> <span class="logo-text">SmartPark</span>
            </h1>
          </li>
          <li class="hide-on-small-only logo-cont">
            <h1 class="logo-wrapper">
              <a href="~/" class="brand-logo darken-1" target="_self"><img src="assets/img/logo_reset_white.png" alt="reset logo" style="max-height: 38px;width:auto"></a>
              <span
                class="logo-text">RESET</span>
            </h1>
          </li>
          <li class="hide-on-large-only">
            <a href="#"><i class="material-icons">directions_run</i></a>
          </li>
        </ul>
        <ul class="right logo-cont" style="height: 100%">
          <li class="valign-wrapper hide-on-semi-mid-and-small" style="height: 100%">
            <h4 class="small right-align padding-25 no-hover valign white-text">WYKUP ABONAMENT - ZAPŁAĆ ZBLIŻENIOWO<br />OTWIERAJ BRAMĘ SMARTFONEM</h4>
          </li>
          <li class="hide-on-med-and-down">
            <a href="#"><i class="material-icons">directions_run</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>
<!-- END HEADER -->