<div class="center-item">
  <div class="login-content">
    <div class="row">
      <div class="col s10 offset-s1 center-align margin-top-50">
        <h2 class="valign-wrapper" style="justify-content: center; margin-bottom:10px">
          <img class="valign" src="assets/img/lock_logo.png" />LOGOWANIE
        </h2>
        <h5 class="smart-grey margin-bottom-50">Zaloguj się do swojego konta w systemie, aby zarządzać swoimi wyjazdami:</h5>
        <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
          <div class="row">
            <div class="col s12">
              <div class="input-field">
                <input type="text" name="Email" id="Email" [formControl]="loginForm.controls['email']"/>
                <label for="Email">Email</label>
              </div>
            </div>
            <div class="col s12">
              <div class="input-field">
                <input type="password" name="Password" id="Password" [formControl]="loginForm.controls['password']"/>
                <label for="Password">Hasło</label>
              </div>
            </div>
            <div class="col s12">
              <p>
                <input type="checkbox" name="RememberMe" id="RememberMe" class="filled-in" [formControl]="loginForm.controls['rememberme']"/>
                <label for="RememberMe">Zapamiętaj mnie</label>
              </p>
            </div>
          </div>
          <br />
          <div class="row right-align" style="margin-bottom: 0">
            <div class="col s12">
              <a href="#" id="moveRegister" class="smart-blue smart-move-btn" (click)="moveRegister()"><b>ZAREJESTRUJ</b></a>
              <button class="btn smart-blue-bg smart-form-btn btn waves-effect waves-light" data-form-id="login-form">
                <b>Zaloguj</b>
                <i class="material-icons right">send</i>
              </button>

            </div>

          </div>
          <div class="row right-align">
            <div class="col s12">
              <a href="#" id="moveForgot" class="smart-blue smart-move-btn" (click)="moveForgot()">zapomniałem <b>hasło</b></a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
