.main-container img {
  width: 40%;
}

#fback {
  width: 100%;
  height: 100%;
  position: absolute;
}

.register-content, .login-content, .forgot-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.login-content, .forgot-content {
  background: white;
}

.register-bg {
  background: #03A9F4 url(assets/img/banner2.png);
}

.home-overlay, .system-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.home-overlay {
    background-color: rgba(44,62,80,.3);
    background-image: url(assets/img/pattern.png);
    background-repeat: repeat;
}

.system-overlay {
    background-color: rgba(38,163,217,.55);
}

.login-bg {
  background: #03A9F4 url(assets/img/cover.png);
  background-position: 0 50% !important;
}

.register-bg, .login-bg {
  width: 50%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

.bg-text-container {
  position: absolute;
  bottom: 0;
  padding: 0 20px 20px;
  color: white !important;
  text-align: right;
  width: 100%;
}

.login-bg .bg-text-container {
  text-align: left;
}

.register-content, .login-bg {
  left: 0;
}

.login-content, .register-bg {
  right: 0;
}

h2 img {
  width: 34px !important;
  margin-right: 4px;
}

.card-content.switcher-box {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  padding: 0;
  border: 1px solid #4a86c5;
  border-radius: 3px;

  .inner-box {
    width: 300%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;

    .left-item, .right-item, .center-item {
      width: 33.333333%;
      height: 100%;
      top: 0;
      position: absolute;
    }

    .left-item {
      background: #272727;
      left: 0;
    }

    .center-item {
      background: #F9F9F9;
      left:33.333333%
    }

    .right-item {
      background: #F9F9F9;
      right: 0;
    }
  }
}

.smart-move-btn {
  margin:0 10px;
}

.card {
  margin: 0;
}

@media(max-width:992px) {
  .card-content.switcher-box {
    width: 100%;
    margin-left: 0;

    .inner-box .right-item, .inner-box .left-item, .inner-box .center-item {
      width: 33.3333% !important;
    }
  }

  .main-container img {
    width: 60%;
  }

  .smart-form-btn{
    margin-top:10px;
    margin-bottom:10px;
  }
}