/* =================================================================================
    Content
================================================================================= */
/*----------------------------------------
    Breadcrumb
------------------------------------------*/
#breadcrumbs-wrapper {
    background: $secondary-color-light;
}

@media (min-width:1200px) {
    #breadcrumbs-wrapper {
        height: 125px;
    }
}

@media (min-width: 968px) and (max-width:1201px){
    #breadcrumbs-wrapper {
        height: 127px;
    }
}

h5.breadcrumbs-header {
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 1.5rem 0 0 0;
}

.breadcrumbs {
    padding: 0;
    margin: 15px 0;
    list-style: none;

    > li {
        display: inline-block;
        font-size:1.2rem;
        + li:before {
            padding: 0 5px;
            color: $primary-color;
            content: "/\00a0";
        }
    }
    

    a {
        // color: $color_robins_egg_blue_approx;
    }

    .active {
        font-weight: normal;
        color: $white;
    }
}

.breadcrumbs-title {
    font-size: 1.5rem;
    line-height: 1.804rem;
    margin: 18px 0 0;
}

.breadcrumbs-nav {
    margin: 8px 0 9px;
}

// Breadcrumbs slash
.breadcrumb {
    &:before {
        content: "\e7c3";
        font-family: "Material-Design-Icons";
    }
}
