/*=================================================================================
    Header
====================================================================================*/
/*----------------------------------------
    Page Header
------------------------------------------*/

h1 {
	&.logo-wrapper {
		margin: 0;
	}
	span.logo-text {
		display: none;
	}
}
.menu-sidebar-collapse {
	margin: 0 10px;
	i {
		line-height: 36px !important;
	}
}
header .brand-logo {
	position: initial;
	margin: 1px 0;
	padding: 14px 20px 5px; 
	img {
		width: 172px;
	}
}
@media only screen and(max-width: 992px) {
	nav .nav-wrapper {
		text-align: center;
		a.page-title {
			font-size: 36px;
		}
	}
}

.notification-badge {
    position: relative;
    right: 5px;
    top: -20px;
    color: #ffffff;
    background-color: #FF4081;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 4px 5px;
}
#notifications-dropdown {
	h5 {
		font-size: 1rem;
		text-transform: capitalize;
		font-weight: 500;
	}
	li {
		padding: 10px;
		font-size: 1rem;
		> a {
			padding: 0;
			font-size: 1rem;
			font-weight: 300;
			> i {
				display: inline-block;
				font-size: 1.2rem;
				position: relative;
				top: 4px;
			}
		}
		> time {
			font-size: 0.8rem;
			font-weight: 400;
		}
		&.divider {
			padding: 0;
		}
	}
}