/*=================================================================================
    Sidebar
====================================================================================*/
/*----------------------------------------
    Sidebar Main Menu 
------------------------------------------*/


nav {
    &.top-nav {
        height: 122px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: none;

        a.page-title {
            line-height: 122px;
            font-size: 48px;
        }
    }

    ul li.no-hover:hover {
        background: none;
    }
}

.side-nav {
    a {
        line-height: 75px;
        height: 75px;
    }

    &.leftside-navigation .collapsible-body li.active {
        background-color: $black_4;
    }

    &.fixed.leftside-navigation .collapsible-body li.active {
        background-color: $black_4;
    }

    .collapsible-body li a {
        margin: 0 1rem 0 3rem;
    }

    .nav-border {
        border-bottom: 3px solid $primary-color;
    }
}

//DOTHIS
ul.side-nav {
    &.leftside-navigation {
        top: 64px;
        overflow: hidden;
        background-color: $secondary-color-light;

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid $color_bon_jour_approx;
            margin: 1em 0;
            padding: 0;
        }

        li {
            line-height: 75px;
            background-color: $secondary-color-light;

            &:hover {
                background-color: $black_4;
            }

            &.active {
                background-color: $black_4;
            }

            a {
                font-size: 16px;
                font-weight: 600;
                color: $primary-color;

                &:hover, &.active {
                    color: white;

                    &.active:after {
                        content: '';
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        margin-top: -13px;
                        border-left: 0;
                        margin-left: -10px;
                        border-bottom: 13px solid transparent;
                        border-top: 13px solid transparent;
                        border-right: 10px solid white;
                    }
                }
            }

            &.user-details {
                background: $secondary-color;
                padding: 15px 0;
                line-height: 1;
            }
        }

        &:hover {
        }

        .profile-image {
        }

        .profile-btn {
            margin: 0;
            text-transform: capitalize;
            padding: 0;
            //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            text-shadow: 1px 1px 1px $color_tundora_approx;
            font-size: 15px;
        }

        ul.collapsible-accordion li ul li {
            background-color: $secondary-color-most-light;
        }
    }

    li {
        padding: 0;
    }

    .collapsible-header {
        margin: 0;
    }
}

#slide-out {
    li a i {
        line-height: inherit;
        width: 2rem;
        font-size: 3.5rem;
        display: block;
        float: left;
        text-align: center;
        margin-right: 3rem;
    }

    ul.side-nav li {
        padding: 0 !important;
    }
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.caption-uppercase {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.sidebar-collapse {
    position: absolute;
    left: -170px;
    top: -45px;
}

.user-task,
.user-time {
    margin: 0;
    font-size: 13px;
    color: $white;
}

.user-initials {
    color: $white;
    font-weight: bold;
    line-height: 1.1;
    font-size: 14px;
    text-transform: uppercase;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
}

.user-details .row {
    margin: 0;
}

.bold > a {
    font-weight: bold;
}

.rightside-navigation {
    overflow: hidden;
}
